<div class="hero-unit">
<%= form_tag charges_path do %>
  <h3>
    You will be charged
    <%= number_to_currency(session[:purchase_amount]) %>
    for your purchase.
  </h3>

  <script src="https://button.stripe.com/v1/button.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Song purchase"
          data-amount="<%= @purchase_price_in_cents %>"></script>
<% end %>
</div>